html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.App {
    margin: 0 auto;
    max-width: 900px;
}

.edit-button, 
.add-button,
.remove-button,
.cancel-button {
    cursor: pointer;
    padding: .5rem;
    width: 64px;
    margin: .5rem;
    display: block;
    border-radius: 48px;
    border: transparent;
    background-color: #0d6efd;
    color: #fff;
}

.error {
    font-size: 1.25rem;
    color: #fff;
    width: fit-content;
    margin-left: .5rem;
    color: #dd0a0a;
    display: block;
}