.cv-aside [class*='-title'] {
  margin-bottom: 0;
}

.contact-section form input {
  padding: .5rem
}

.contact-section p,
.contact-section a {
  margin-left: .5rem;
}

.contact-icon-group {
  display: flex;
  align-items: center;
  gap: 5px;
}