.education-section ul {
  list-style: none;
  padding-left: .5rem;
  margin-top: .25rem;
}

.institution-name {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0;
  word-break: break-word;
  max-width: 80%;
}

.study-date {
  font-size: .75rem;
  font-style: italic;
  margin-top: 0;
}

.degree-title {
  word-break: break-word;
  max-width: 80%;
  margin-top: .5rem;
}

.education-info-edit form input {
  display: block;
  padding: .5rem;
  width: 50%;
}