.company-name {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0;
}

.date-of-employment {
  font-size: 1rem;
  font-style: italic;
  margin-top: .5rem;
}

.job-description {
  width: 80%;
}

.experience-info-edit form input {
  display: block;
}