#cv-document {
    margin: 1.5rem auto;
    width: 95%;
    display: flex;
    justify-content: space-around;
}

/* CVMain section */
.cv-main-section {
    width: 100%;
}

.cv-main-section section[class$='-section'] h3[class$='-title'] {
    color: #000;
    font-size: 1.75rem;
    margin-left: .5rem;
    border-bottom: 1px solid #000;
}

/* CVAside section */
.cv-aside-section {
    width: 40%;
    padding-left: 1.5rem;
}

.cv-aside-section section[class$='-section'] h3[class$='-title'] {
    color: #000;
    font-size: 1.75rem;
    margin-left: .5rem;
}